[Unit]

Description=MySQL Xtrabackup Remote Server
After=syslog.target
After=network.target

[Install]

WantedBy=multi-user.target
 
[Service]

Type=simple

User=root
Group=root

ExecStart=/usr/bin/socat TCP4-LISTEN:{{ mysql_xtra_port }},fork,range={{ mysql_xtra_allow }} EXEC:/usr/sbin/mysqlxtra-server
Restart=always

# LimitNOFILE=200000

Restart=on-failure
# RestartPreventExitStatus=1

PrivateTmp=false
